body {
    background-color: #464646;
  }
  div {
    width: fit-content;
    border: 7px #323232 solid;
    /* border-style: groove; */
    padding: 15px;
    border-radius: 35px;
    background-color: whitesmoke;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 4px -3px #ffffff;
  }
  a {
    text-decoration: none;
    border-style: none;
    border-right: 2px dotted #a2a3a8;
    padding: 1px 20px 1px 20px;
    font-family: system-ui;
    font-weight: 700;
    color: #555e74;
    position: relative;
    font-size: 24px;
  }
  a:last-child {
    border: none;
  }
  span {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    padding: 5px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 3px;
    top: -32px;
    color: white;
    text-shadow: 0px 0px 2px black;
  }
  .profile {
    background-color: #73a343;
    border: 2px solid #455b2d;
    border-radius: 50%;
  }
  .settings {
    background-color: #4492e4;
    border: 2px solid #265f9b;
    border-radius: 50%;
  }
  .noti {
    background-color: #e23f4c;
    border: 2px solid #97252e;
    border-radius: 50%;
    width: 25px;
  }